{% extends 'base.html' %}
{% block main %}
  <section id="hero-text" class="d-flex align-items-center py-3">
    <div class="hero-text">
      <h1 class="text-center text-light mb-4">Welcome to Instics, a modern library management system</h1>
      <p class="font-weight-bold text-black-50 text-center">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. In, pariatur. 
        Sit consequatur cupiditate a eius esse pariatur eligendi consequuntur 
        voluptas temporibus aperiam, nulla neque voluptates cumque, quo dolore 
        harum asperiores ratione ipsam! Corporis, cumque ipsam?
      </p>
    </div>
  </section>
{% endblock main %}
  